.App {
  text-align: center;
  background:#00897b;
  position: relative;
  height: auto;
  height: 100vh;
  /* max-height: 500px; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
}
.App.loader{
  height: 100vh!important;
  max-height: 100vh !important;
}
.p-0{
  padding:0!important;
}
.m-0{
  margin:0!important;
}